<mat-expansion-panel class="top-s" [expanded]="true" hideToggle #panel>
    <mat-expansion-panel-header class="soild">
        <mat-panel-title>
            <mat-icon>bar_chart</mat-icon>
            <span>Common Statistics</span>
        </mat-panel-title>
        <mat-panel-description class="justify-content-end">
            <span *ngIf="!panel.expanded" class="material-icons open">add</span>
            <span *ngIf="panel.expanded" class="material-icons close">remove</span>
        </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="card-body">
        <div class="row g-1">
            <div class="col-lg-3 col-6 bg-info ">
                <div class="card card-body bg-info">
                    <div class="inner">
                        <h3>5</h3>
                        <p>order</p>
                    </div>
                    <div class="icon">
                        <mat-icon class="mat-icon">shop</mat-icon>
                    </div>
                </div>
                <div class="footer">
                    <a href="#" class="foter">Move info <mat-icon>arrow_circle_right</mat-icon></a>
                </div>
            </div>
            <div class="col-lg-3 col-6 bg-warning  ">
                <div class="card card-body bg-warning">
                    <div class="inner">
                        <h3>0</h3>
                        <p>Pending return requests</p>
                    </div>
                    <div class="icon">
                        <mat-icon class="mat-icon">cached</mat-icon>
                    </div>
                </div>
                <div class="footer-refech">
                    <a href="#" class="foter">Move info <mat-icon>arrow_circle_right</mat-icon></a>
                </div>
            </div>
            <div class="col-lg-3 col-6 bg-success ">
                <div class="card card-body bg-success">
                    <div class="inner">
                        <h3>8</h3>
                        <p>Registered custommer</p>
                    </div>
                    <div class="icon">
                        <mat-icon class="mat-icon">person_add</mat-icon>
                    </div>
                </div>
                <div class="footer-plus">
                    <a href="#" class="foter">Move info <mat-icon>arrow_circle_right</mat-icon></a>
                </div>
            </div>
            <div class="col-lg-3 col-6 bg-danger ">
                <div class="card card-body bg-danger">
                    <div class="inner">
                        <h3>8</h3>
                        <p>Registered custommer</p>
                    </div>
                    <div class="icon">
                        <mat-icon class="mat-icon">pie_chart</mat-icon>
                    </div>
                </div>
                <div class="footer-char">
                    <a href="#" class="foter">Move info <mat-icon>arrow_circle_right</mat-icon></a>
                </div>
            </div>
        </div>
    </div>
</mat-expansion-panel>