<mat-expansion-panel expanded="true" hideToggle #panel>
    <mat-expansion-panel-header class="solid">
        <mat-panel-title>
            <mat-icon>article</mat-icon> <span>nopCommerce New</span>
        </mat-panel-title>
        <mat-panel-description class="justify-content-end">
            <span *ngIf="!panel.expanded" class="material-icons open">add</span>
            <span *ngIf="panel.expanded" class="material-icons close">remove</span>
        </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="row">
        <div class="col-md-4">
            <div class="card card-info ">
                <div class="card-header clearfix bg-info">
                    <a class="float-left text-dark" href="#">powerred bu nopCommerce</a>
                </div>
                <div class="card-body">
                    <p>
                        Would you like to remove the "Powered by nopCommerce" link in the bottom of the footer? Click
                        <a href="#">here</a> for more i
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-info ">
                <div class="card-header clearfix bg-info">
                    <a class="float-left text-dark" href="#">powerred bu nopCommerce</a>
                </div>
                <div class="card-body">
                    <p>
                        Would you like to remove the "Powered by nopCommerce" link in the bottom of the footer? Click
                        <a href="#">here</a> for more i
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-info ">
                <div class="card-header clearfix bg-info">
                    <a class="float-left text-dark" href="#">powerred bu nopCommerce</a>
                </div>
                <div class="card-body">
                    <p>
                        Would you like to remove the "Powered by nopCommerce" link in the bottom of the footer? Click
                        <a href="#">here</a> for more i
                    </p>
                </div>
            </div>
        </div>
    </div>
</mat-expansion-panel>