<mat-expansion-panel class="top" expanded="true" hideToggle #panel>
    <mat-expansion-panel-header class="soild">
        <mat-panel-title>
            <mat-icon class="tet">add_shopping_cart</mat-icon>
            <span>Laest Orders <a href="#" class="btn btn-primary" target="_blank" rel="noopener noreferrer">View All Orders</a></span>
        </mat-panel-title>
        <mat-panel-description class="">
            <span *ngIf="!panel.expanded" class="material-icons open">add</span>
            <span *ngIf="panel.expanded" class="material-icons close">remove</span>
        </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="scoll">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

            <!-- Position Column -->
            <ng-container matColumnDef="order">
                <th mat-header-cell *matHeaderCellDef>Order #</th>
                <td mat-cell *matCellDef="let element"> {{element.order}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="orderstatus">
                <th mat-header-cell *matHeaderCellDef>Order Status</th>
                <td mat-cell *matCellDef="let element">
                    <span [ngClass]="{'green':element.orderstatus === 'Complete','sky':element.orderstatus ==='Processing','yellow':element.orderstatus ==='Pending'}">{{element.orderstatus}}</span> </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="customer">
                <th mat-header-cell *matHeaderCellDef>Customer</th>
                <td mat-cell *matCellDef="let element">{{element.customer}}
                </td>
            </ng-container>
            <ng-container matColumnDef="daytime">
                <th mat-header-cell *matHeaderCellDef>Created on</th>
                <td mat-cell *matCellDef="let element">{{element.daytime}}</td>
            </ng-container>
            <ng-container matColumnDef="view">
                <th mat-header-cell *matHeaderCellDef>View</th>
                <td mat-cell *matCellDef="let element">
                    <a href="#" class="bottom btn btn-light">
                        <mat-icon>visibility</mat-icon>{{element.view}}</a>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    <span class="float-right">{{num}} of {{num}}</span>
    <nav aria-label="Page navigation example" class="pag-top">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" id="page1" href="#">
                    <mat-icon class="tram"> arrow_left</mat-icon>
                </a>
            </li>
            <li class="page-item active"><a class="page-link" href="#">1</a></li>
            <li class="page-item">
                <a class="page-link" id="page1" href="#">
                    <mat-icon class="tram"> arrow_right</mat-icon>
                </a>
            </li>
        </ul>
    </nav>
</mat-expansion-panel>